{% extends 'base.html' %}
    {% block blocks %}
                
                    <h1 class="text-center">GO</h1>
                    <p><b>Go</b> es un lenguaje diseñado por Google, <b>Compilado</b>, <b>Fuertemente Tipado</b> y descata por su <b>Concurrencia</b></p>
                    <p></p>
                    <p>En este note vas a encontrar una lista de los comandos mas utilizados en GO</p>
                    <p></p>
                
                    <p>🔹 <b>Build</b>: Genera archivo ejecutable del archivo indicado</p>
                    <div class="shell">
                        <p>ram@example> go build main.go</p>
                    </div>
                    <br>
                    <p>🔹 <b>Run</b>: Ejecuta el archivo indicado, generando un ejecutable de forma temporal</p>
                    <div class="shell">
                        <p>ram@example> go run main.go</p>
                    </div>
                    
                    
                    <hr>
                    <div class="note-footer">
                        <p>Marzo 2021</p>
                    </div>
                
    {% endblock %}
