{% extends 'base.html' %}
    {% block blocks %}
                    <!--Notes-->
                    <h4 class="text-center">Notes Kube TEST</h4>
                    <h6 class="text-center">Acá vas a encontrar algunas notas ayuda memoria sobre diferentes tópicos de tecnología! Espero te sirvan!</h6>
                    <div class="col text-center mt-3">
                        <a href="/linux" type="button" class="btn btn-outline-warning m-1">🐧 Linux</a>
                        <a href="/python" type="button" class="btn btn-outline-warning m-1">🐍 Python</a>
                        <a href="/docker" type="button" class="btn btn-outline-secondary m-1">🐋 Docker (is coming)</a>
                        <a href="/kubernetes" type="button" class="btn btn-outline-secondary m-1">⚙ K8S (is coming)</a>
                    </div>
                    <br>
                    <hr>
                    <!--Posts-->
                    <h4 class="text-center">Post</h4>
                    <h6 class="text-center">Algo que escribi</h6>
                    <div class="col text-center mt-3">
                        <a href="/gitlab-to-kube" type="button" class="btn btn-outline-secondary m-1">Deploy 🦊Gitlab to GKE⚙ (is coming)</a>
                    </div>
                    <hr>
                    <!--Projects-->
                    <h4 class="text-center">Projects</h4>
                    <h6 class="text-center">Un poco de code</h6>
                    <div class="col text-center mt-3">
                        <a href="https://github.com/tinchoram/bulkguasapp" target="_blank" type="button" class="btn btn-outline-success m-1">📩 Bulkguasapp</a>
                        <a href="https://github.com/tinchoram/scrapy-dondemiro" target="_blank" type="button" class="btn btn-outline-success m-1">👀 DondeMiro</a>
                        <a href="https://github.com/tinchoram/ram-blog" target="_blank" type="button" class="btn btn-outline-success m-1">✍ Este Blog 😁</a>
                    </div>
                    <hr>
                    <div class="note-footer">
                        <p>@tinchoram 2021</p>
                    </div>
                
    {% endblock %}