{% extends 'base.html' %}
    {% block note %}
                
                    <h1 class="text-center">Linux</h1>
                    <p>En este note vas a encontrar un listado de comandos mas utilizados en Linux</p>
                    <p></p>
                
                    <p>🔹 Listar</p>
                    <div class="shell">
                        <p>docker run &lt;image_container&gt;</p>
                    </div>
                    <p>Ejemplo:</p>
                    <div class="shell">
                        <p>docker run &lt;image_container&gt;</p>
                    </div>
                    
                    <hr>
                    <div class="note-footer">
                        <p>Marzo 2021</p>
                    </div>
                
    {% endblock %}
