{% extends 'base.html' %}
    {% block blocks %}
                
                    <h1 class="text-center">Linux 🐧</h1>
                    <p>En este note vas a encontrar comentarios sobre Linux que te van ayudar en el trabajo
                    diario y los comandos mas utilizados para hacer el mejor troubleshooting</p>
                    <p></p>

                    <p>💻 Primero lo primero el Arbol de directorios 🌳📁</p>
                    <div class="items">
                        <p>#️⃣ <b>/</b>&emsp;&emsp;&emsp;&emsp;👉 Directorio raiz.</p>
                        <p>#️⃣ <b>/bin</b>&emsp;&emsp;&nbsp;👉 Binarios de usuario como cp, echo, grep, mv, etc...</p>
                        <p>#️⃣ <b>/boot</b>&emsp;&nbsp;&nbsp;&nbsp;👉 Ejecutables y archivos de arranque.</p> 
                        <p>#️⃣ <b>/dev</b>&emsp;&emsp;&nbsp;👉 Archivos de volúmenes.</p> 
                        <p>#️⃣ <b>/etc</b>&emsp;&emsp;&nbsp;👉 Confirguración de sistema y apps.</p> 
                        <p>#️⃣ <b>/home</b>&emsp;👉 Directorio de personal del User.</p> 
                        <p>#️⃣ <b>/lib</b>&emsp;&emsp;&nbsp;👉 Blibliotecas para los binarios.</p> 
                        <p>#️⃣ <b>/media</b>&emsp;👉 Directorio de montaje.</p> 
                        <p>#️⃣ <b>/opt</b>&emsp;&emsp;👉 Apps externas.</p> 
                        <p>#️⃣ <b>/proc</b>&emsp;&nbsp;&nbsp;&nbsp;👉 Información de procesos.</p> 
                        <p>#️⃣ <b>/root</b>&emsp;&nbsp;&nbsp;&nbsp;👉 Directorio del SuperUser.</p> 
                        <p>#️⃣ <b>/sbin</b>&emsp;&nbsp;&nbsp;&nbsp;👉 Binarios del Sistema.</p> 
                        <p>#️⃣ <b>/srv</b>&emsp;&emsp;&nbsp;👉 Archivos relativos a servers (web, FTP, etc).</p> 
                        <p>#️⃣ <b>/sys</b>&emsp;&emsp;&nbsp;👉 Archivos virtuales con info de eventos del sistema.</p> 
                        <p>#️⃣ <b>/tmp</b>&emsp;&emsp;👉 Directorio de archivos temporales.</p> 
                        <p>#️⃣ <b>/usr</b>&emsp;&emsp;&nbsp;👉 Archivos de programas y Apps instaladas.</p> 
                        <p>#️⃣ <b>/var</b>&emsp;&emsp;&nbsp;👉 Directorio de archivos variales, logs, registros, etc...</p>  
                    </div>
                    <br>
                    <p>📁 Cambiar de Directorio (cd &lt;path&gt;)</p>
                    <div class="shell">
                        <p>cd /home/tinchoram</p>
                    </div>
                    <br>
                    <p>📁📄 Listar (ls -[OPTIONS] &lt;path&gt;) ordenando por los ultimos archivos modificados</p>
                    <div class="shell">
                        <p>ls -lrt &lt;path&gt;</p>
                    </div>
                    <br>
                    <p>🕵️‍♂️📄 Buscar Palabras o Patrones en archivos (grep [opciones] pattern [ARCHIVO]) Tambien se puede concatenar a otros comandos para usarlo como filtro: COMMAND | grep 'palabra' </p>
                    <div class="shell">
                        <p>grep -l 'palabra' *</p>
                    </div>
                    <br>
                    <p>🚦🚢 Estado de Puertos (netstat -anp | grep &lt;port&gt;) filtrando con 'grep' por el puerto requerido</p>
                    <div class="shell">
                        <p>netstat -anp | grep 8080</p>
                    </div>
                    <br>
                    <p>🐧⚙ Lista Procesos (ps [-aefls] [-u UID] [-p PID]) Ver que procesos se estan ejecutando</p>
                    <div class="shell">
                        <p>ps aux</p>
                    </div>
                    <hr>
                    <div class="note-footer">
                        <p>Marzo 2021</p>
                    </div>
                
    {% endblock %}
