{% extends 'base.html' %}
    {% block note %}
                
                    <h1 class="text-center">Notes Friday</h1>
                    <h3 class="text-center">Acá vas a encontrar algunas notas sobre diferentes tópicos de tecnología! Espero te sirvan!</h3>
                    <br>
                    <div class="col text-center">
                        <a href="/linux" type="button" class="btn btn-outline-primary">🐧 Linux</a>
                        <a href="/python" type="button" class="btn btn-outline-primary">🐍 Python</a>
                        <a href="/docker" type="button" class="btn btn-outline-primary">🐋 Docker (is coming)</a>
                        <a href="/kubernetes" type="button" class="btn btn-outline-primary">⚙ K8S (is coming)</a>
                    </div>
                    <br>
                    <hr>
                    <div class="note-footer">
                        <p>@tinchoram 2021</p>
                    </div>
                
    {% endblock %}