{% extends 'base.html' %}
    {% block note %}
                
                    <h1 class="text-center">Python</h1>
                    <p>En este note vas a encontrar una lista de los comandos mas utilizados en Python</p>
                    <p></p>
                
                    <p>🔹 Listar, ordenando por los ultimos archivos modificados:</p>
                    <div class="shell">
                        <p>ls -lrt &lt;path&gt;</p>
                    </div>
                    <p>Ejemplo:</p>
                    <div class="shell">
                        <p>ls -lrt /home</p>
                    </div>
                    
                    <hr>
                    <div class="note-footer">
                        <p>Marzo 2021</p>
                    </div>
                
    {% endblock %}
